.page_number {
    font-size: 14px;
    color: #828da8;
}
.word-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    .word_list_code {
        font-size: 16px;
        color: #0000f2;
        margin: 0px;
        cursor: pointer;
    }
    .finding_words_list {
        font-size: 14px;
        list-style: none;
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        li {
            cursor: pointer;
        }
    }
}