.word_section {
    margin-top: 20px;
    .word_title {
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        color: #828da8;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .mt-10 {
        margin-top: 10px;
    }
}

.sidebar_nav {
    background-color: #fff;
    box-shadow: 3px 0px 3px #ddd;
    padding: 30px 15px;
    height: calc(100vh - 57px);
    min-height: 100%;
    .nav_title {
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
    }
    .custom_arrow {
        color: #828da8;
        font-size: 32px;
        margin: 0px 10px;
        cursor: pointer;
    }
}