<div class="sidebar_nav">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h2 class="nav_title">Navigation</h2>
        </div>
        <div class="col-sm-6 text-right">
            <i class="fa fa-angle-up custom_arrow"></i>
            <i class="fa fa-angle-down custom_arrow"></i>
        </div>
    </div>
    <div class="word_section" *ngIf="!!dictionaryData && dictionaryData.length > 0">
        <content *ngFor="let item of dictionaryData">
            <div class="row align-items-center ">
                <div class="col-sm-12">
                    <h2 class="word_title">{{item.title}}</h2>
                    <app-page-detail [pageDetail]="item?.pageDetail" ></app-page-detail>
                </div>
            </div>
        </content>
    </div>
</div>