<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 p-0">
            <app-page-navigation-bar [dictionaryData]="dicionaryDetail"></app-page-navigation-bar>
        </div>
        <div class="col-sm-9 p-0">
            <div class="pdf_loader">
                <div class="close_btn">
                    <i class="fa fa-times close_icon"></i>
                </div>
                <app-document-search-box></app-document-search-box>
                <app-document-search-icon></app-document-search-icon>
                <div>
                    <img src="assets/images/WhatsApp Image 2020-06-04 at 11.57.11 PM.jpeg" class="image_loaded">
                    <app-high-lighted-section id="highlighSection" *ngIf="isDisplayighLightedSection"
                        [heightlightedSection]="heightlightedSection"></app-high-lighted-section>
                </div>

            </div>
        </div>
    </div>
</div>