<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 p-0">
            <div class="sidebar_nav">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h2 class="nav_title">Navigation</h2>
                    </div>
                    <div class="col-sm-6 text-right">
                        <i class="fa fa-angle-up custom_arrow"></i>
                        <i class="fa fa-angle-down custom_arrow"></i>
                    </div>
                </div>

                <div class="word_section">
                    <div class="row align-items-center ">
                        <div class="col-sm-12">
                            <h2 class="word_title">General Liability</h2>
                            <div class="row align-items-start">
                                <div class="col-sm-3">
                                    <h2 class="page_number">Page 1</h2>
                                </div>
                                <div class="col-sm-9">
                                    <div class="word-list">
                                        <h2 class="word_list_code">CL CG 01 14 09 16</h2>
                                        <ul class="finding_words_list">
                                            <li>Additional Insured</li>
                                            <li>Completed</li>
                                            <li>Ongoing</li>
                                            <li>Waiver of Subrogation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-start">
                                <div class="col-sm-3">
                                    <h2 class="page_number"></h2>
                                </div>
                                <div class="col-sm-9">
                                    <div class="word-list mt-10">
                                        <h2 class="word_list_code">Does not contribute(1)</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center mt-10">
                        <div class="col-sm-12">
                            <h2 class="word_title">General Liability</h2>
                            <div class="row align-items-start">
                                <div class="col-sm-3">
                                    <h2 class="page_number">Page 1</h2>
                                </div>
                                <div class="col-sm-9">
                                    <div class="word-list">
                                        <h2 class="word_list_code">CL CG 01 14 09 16</h2>
                                        <ul class="finding_words_list">
                                            <li>Additional Insured</li>
                                            <li>Completed</li>
                                            <li>Ongoing</li>
                                            <li>Waiver of Subrogation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-start">
                                <div class="col-sm-3">
                                    <h2 class="page_number"></h2>
                                </div>
                                <div class="col-sm-9">
                                    <div class="word-list mt-10">
                                        <h2 class="word_list_code">Does not contribute(1)</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 p-0">
            <div class="pdf_loader">
                <div class="close_btn">
                    <i class="fa fa-times close_icon"></i>
                </div>
                <div class="search_box">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary "><i class="fa fa-angle-up"></i></button>
                        <button type="submit" class="btn btn-primary "><i class="fa fa-angle-down"></i></button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-times"></i></button>
                    </form>
                </div>
                <div class="search_icon_box">
                    <ul>
                        <li><i class="fa fa-arrows-alt"></i></li>
                        <li><i class="fa fa-search"></i></li>
                        <li><i class="fa fa-plus"></i></li>
                        <li><i class="fa fa-minus"></i></li>
                        <li><div class="w_text_value">4 <span>5</span></div></li>
                    </ul>
                </div>
                <div class="overlay_tag"></div>
                <div class="overlay_tag2"></div>
                <img src="assets/images/WhatsApp Image 2020-06-04 at 11.57.11 PM.jpeg" class="image_loaded">
            </div>
        </div>
    </div>
</div>