.pdf_loader {
    position: relative;
    overflow: auto;
    background-image: url("../../assets/images/pdf_bg.png");
    background-repeat: repeat;
    padding: 25px 100px;
    // .overlay_tag {
    //     position: absolute;
    //     border: 1px solid red;
    //     height: 34px;
    //     width: 189px;
    //     // top: 2111px;
    //     // left: 68px;
    // }
    // .overlay_tag2 {
    //     position: absolute;
    //     border: 1px solid greenyellow;
    //     height: 34px;
    //     width: 189px;
    //     // top: 751px;
    //     // left: 518px;
    // }
    .image_loaded {
        // height: 2692px;
        // width: 2084px;
        width: 100%;
    }
    .close_btn {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: #414f86;
        padding: 7px 13px;
        border-radius: 59px;
        color: #fff;
        cursor: pointer;
    }
}